<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.elearning.learning.mapper.LevelTestAttemptMapper">
    <!-- TODO resultMap 구현 예시입니다.
      <resultMap id="LevelTestAttemptResultMap" type="com.acorn.elearning.learning.model.LevelTestAttempt">
          <id property="id" column="id" />
          <result property="..." column="..." />
      </resultMap>
    -->
    <!-- TODO findById 구현 예시입니다.
      <select id="findById" parameterType="long" resultMap="LevelTestAttemptResultMap">
          SELECT /* DDL column list */
          FROM level_test_attempts
          WHERE id = #{id}
      </select>
    -->
    <!-- TODO findAll 구현 예시입니다.
      <select id="findAll" resultMap="LevelTestAttemptResultMap">
          SELECT /* DDL column list */
          FROM level_test_attempts
          ORDER BY id DESC
      </select>
    -->
    <!-- TODO insert 구현 예시입니다.
      <insert id="insert" parameterType="com.acorn.elearning.learning.model.LevelTestAttempt" useGeneratedKeys="true" keyProperty="id">
          INSERT INTO level_test_attempts (/* writable columns */)
          VALUES (/* #{property} values */)
      </insert>
    -->
    <!-- TODO update 구현 예시입니다.
      <update id="update" parameterType="com.acorn.elearning.learning.model.LevelTestAttempt">
          UPDATE level_test_attempts
          SET /* changed columns = #{property} */
          WHERE id = #{id}
      </update>
    -->
</mapper>
