<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.elearning.community.mapper.CommentMapper">
    <!-- TODO resultMap 구현 예시입니다.
      <resultMap id="CommentResultMap" type="com.acorn.elearning.community.model.Comment">
          <id property="id" column="id" />
          <result property="..." column="..." />
      </resultMap>
    -->
    <!-- TODO findById 구현 예시입니다.
      <select id="findById" parameterType="long" resultMap="CommentResultMap">
          SELECT /* DDL column list */
          FROM comments
          WHERE id = #{id}
      </select>
    -->
    <!-- TODO findAll 구현 예시입니다.
      <select id="findAll" resultMap="CommentResultMap">
          SELECT /* DDL column list */
          FROM comments
          ORDER BY id DESC
      </select>
    -->
    <!-- TODO insert 구현 예시입니다.
      <insert id="insert" parameterType="com.acorn.elearning.community.model.Comment" useGeneratedKeys="true" keyProperty="id">
          INSERT INTO comments (/* writable columns */)
          VALUES (/* #{property} values */)
      </insert>
    -->
    <!-- TODO update 구현 예시입니다.
      <update id="update" parameterType="com.acorn.elearning.community.model.Comment">
          UPDATE comments
          SET /* changed columns = #{property} */
          WHERE id = #{id}
      </update>
    -->
</mapper>
