<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.elearning.practice.mapper.PracticeSetAttemptMapper">
   <resultMap id="PracticeSetAttemptResultMap" type="com.acorn.elearning.practice.model.PracticeSetAttempt">
       <id property="setAttemptId" column="set_attempt_id" />
       <result property="userId" column="user_id" />
       <result property="subjectId" column="subject_id" />
       <result property="nodeId" column="node_id" />
       <result property="totalCount" column="total_count" />
       <result property="correctCount" column="correct_count" />
       <result property="status" column="status" />
       <result property="passed" column="passed" />
       <result property="completedAt" column="completed_at" />
       <result property="createdAt" column="created_at" />
       <result property="updatedAt" column="updated_at" />
   </resultMap>

    <select id="findByIdAttempt" resultMap="PracticeSetAttemptResultMap">
        SELECT * FROM practice_set_attempts WHERE set_attempt_id = #{setAttemptId}
    </select>

    <insert id="insertAttempt" parameterType="com.acorn.elearning.practice.model.PracticeSetAttempt"
            useGeneratedKeys="true" keyProperty="setAttemptId">
        INSERT INTO practice_set_attempts (
        user_id,
        subject_id,
        node_id,
        total_count,
        correct_count,
        status,
        passed,
        created_at
        ) VALUES (
        #{userId},
        #{subjectId},
        #{nodeId},
        #{totalCount},
        #{correctCount},
        #{status},
        #{passed},
        NOW()
        )
    </insert>

    <update id="updateAttempt" parameterType="com.acorn.elearning.practice.model.PracticeSetAttempt">
        UPDATE practice_set_attempts
        SET correct_count = #{correctCount},
        status = #{status},
        passed = #{passed},
        completed_at = NOW(),
        updated_at = NOW()
        WHERE set_attempt_id = #{setAttemptId}
    </update>
</mapper>
